.green{
    background-color: #9bcc6b !important;
}
.text-green{
    color: #3c612a !important;
}

.big-cash-text{
    color: white !important;
    font-size: 44px !important;
    margin: 0px;
    padding-bottom: 16px;
}

.day-title{
    margin-top: 0px;
    padding-top: 24px;
    font-size: 18px;
}
.light-text{
    color: #646464;
}
.text-medium{
    font-size: 20px !important;
}